#inicio-header {
    background-color: #000;
    color: #fff;    
    padding: 20px;
    opacity: 0.8;
    width: 100%;
    margin-bottom: 10%;
}

#inicio-button {
    background-color: #fff;
    color: #000;
    padding: 10px;
    opacity: 0.8;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

#inicio-titulo {
    color: #fff;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
}

#inicio-texto {
    color: #fff;
    font-size: 16pt;
    text-align: left;
    padding: 20px;
}

#inicio-container {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}